/* .container{

} */

.show{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: white;
    padding: 20px;
    background-position: center;
    position: relative;
}

@media screen and (max-width:768px) {
    .show{
        height: 50vh;
    }
}