.services{
    display: grid;
    grid-template-rows: auto;
    padding: calc((100vw / 1920)* 50);
    align-items: center;
    gap: calc((100vw / 1920)* 50);
    width: fit-content;
}

.services:nth-child(odd) {
    grid-template-columns: 1.5fr 1fr;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,42,91,1) 35%, rgba(0,212,255,1) 100%);
    >.thumbnail {
        grid-area: 1/1;
    }

    >.serviceDetails{
        text-align: end;
        
        >.bookBtn{
            align-self: end;
        }
    }
}

.services:nth-child(even) {
    grid-template-columns: 1fr 1.5fr;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(3,42,91,1) 35%, rgba(0,212,255,1) 100%);
    >.thumbnail {
        grid-area: 1/2;
    }

    >.serviceDetails{
        text-align: start;

        .bookBtn{
            align-self: start;
        }
    }
}

.thumbnail{
    height: auto;
    width: 100%;
}

.serviceDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc((100vw / 1920)*20);
}

.serviceDetails h1{
    font-size: calc((100vw / 1920)*50);
}

.serviceDetails p{
    font-size: calc((100vw / 1920)*30);
    line-height: 2;
}

.bookBtn{
    padding: calc((100vw / 1920)*5) calc((100vw / 1920)*7);
    font-size: calc((100vw / 1920)*18);
}


@media screen and (max-width: 1100px) {
    .services{
        grid-template-rows: auto auto;
        padding: calc((100vw / 393)* 5);
        gap: calc((100vw / 393)* 20);
        box-shadow: 0 0 5px 0 black;
        border-radius: calc((100vw / 393)* 15);
        width: calc((100vw / 393)* 375);
        margin: calc((100vw / 393)* 25) auto;
        border: 1px solid;
    }

    .services img{
        border-radius: calc((100vw / 393)* 10) calc((100vw / 393)* 10) 0  0;
    }
   
    .services:nth-child(odd) {
        grid-template-columns: auto;
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(3,42,91,1) 35%, rgba(0,212,255,1) 100%);
        >.thumbnail {
            grid-area: 1/1;
        }
    
        >.serviceDetails{
            text-align: end;
            
            >.bookBtn{
                align-self: end;
            }
        }
    }
    
    .services:nth-child(even) {
        grid-template-columns: auto;
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(3,42,91,1) 35%, rgba(0,212,255,1) 100%);
        >.thumbnail {
            grid-area: 1/1;
        }
    
        >.serviceDetails{
            text-align: start;
    
            .bookBtn{
                align-self: start;
            }
        }
    }

    .serviceDetails{
        gap:  calc((100vw / 393)*10);
        padding: 0 calc((100vw / 393)*20);
    }

    .serviceDetails h1{
        font-size: calc((100vw / 393)*30);
        text-align: center;
    }
    
    .serviceDetails p{
        font-size: calc((100vw / 393)*12);
        line-height: 1.5;
        text-align: center;
    }
    
    .bookBtn{
        padding: calc((100vw / 393)*5) calc((100vw / 393)*7);
        font-size: calc((100vw / 393)*10);
        border-radius: calc((100vw / 393)*15);
    }
    
}