.navbar{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background: transparent;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 5;
}

.logo{
padding-left: calc((100vw/1920)*50);
color: aliceblue;
}

.links{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: calc((100vw/1920)*60);
    font-size: calc((100vw/1920)*24);
    color: white;
    height: inherit;
    justify-self: end;
    padding-right: calc((100vw/1920)*100);
}


@media screen and (max-width: 1100px) {
    .links{
        gap: calc((100vw/393)*15);
        font-size: calc((100vw/393)*14);
    }
}